/*********************
	font imports
*********************/

@import url('https://fonts.googleapis.com/css?family=Raleway');


/******************************
	adjust default settings
*******************************/

* {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
}

.link {
	text-decoration: none;
}

.link:hover {
	text-decoration: none;
}


/*********************
	navbar styling
*********************/

header {
	position: fixed;
	background: rgba(0, 0, 0, 0);
	width: 100%;
	height: 65px;
	z-index: 1;
}

.logo {
	float: left;
	font-size: 35px;
	color: #E5E5E5;
    padding: 10px 30px;
	position: fixed;
}

nav {
	float: right;
}

.navbar-inverse {
	background: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	margin: 0px;
}

.navbar-nav {
	padding-top: 9px;
}

.navbar-nav li {
	font-size: 18px;
	padding-left: 30px;
}

.navbar-inverse .navbar-nav li a {
	color: #E5E5E5;
}

.navbar-inverse .navbar-nav li a:hover {
	text-decoration: underline;
}

.navbar-inverse .navbar-header button {
	border-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-header button:hover {
	background-color: rgba(0, 0, 0, 0);
}


/*********************
	 home styling
*********************/

.home {
	background: rgba(64, 64, 64, 1);
	background-blend-mode: soft-light;
	background-image: url(../images/background.jxr);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.hero {
	font-size: 65px;
	color: #E5E5E5;
	text-align: center;
	position: absolute;
	top: 30%;
	width: 100%;
}

.sub-text {
	font-size: 20px;
	margin-top: 10px;
}

.call2action {
	margin: 35px auto;
	display: block;
	width: 200px;
	height: 50px;
	border: 3px solid #E5E5E5;
	background-color: rgba(255, 255, 255, 0);
	color: #E5E5E5;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 15px;
	transition: all 0.5s;
}

.call2action:hover {
	background-color: #E5E5E5;
	color: black;
	cursor: pointer;
	transition: all 0.5s;
}


/*********************
    about styling
*********************/

.about {
	background-color: #212529;
	text-align: center;
	padding: 3% 0;
}

.container {
	width: 60vw;
	padding: 3% 0;
}

.aboutTitle {
	font-size: 40px;
	color: #E5E5E5;
}

.aboutDescription {
	font-size: 20px;
	color: rgba(255, 255, 255, 0.7);
}

.call2action2 {
	margin: 35px auto;
	display: block;
	width: 200px;
	height: 50px;
	border: 3px solid #E5E5E5;
	background-color: #E5E5E5;
	color: #212529;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 15px;
	transition: all 0.5s;
}

.call2action2:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #E5E5E5;
	cursor: pointer;
	transition: all 0.5s;
}


/*********************
   projects styling
*********************/

.projects {
	background-color: #E5E5E5;
	text-align: center;
	padding: 3% 0;
}

.projectsTitle {
	font-size: 40px;
	color: black;
}

.call2action3 {
	margin: 35px auto;
	display: block;
	width: 200px;
	height: 50px;
	border: 3px solid black;
	background-color: rgba(255, 255, 255, 0);
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 15px;
	transition: all 0.5s;
}

.call2action3:hover {
	background-color: black;
	color: #E5E5E5;
	cursor: pointer;
	transition: all 0.5s;
}


/*********************
	footer styling
*********************/

footer {
	background-color: black;
	color: #E5E5E5;
	font-size: 14px;
	text-align: center;
	padding: 60px;
}


/*********************
	responsivness
*********************/

@media screen and (max-width: 767px) {
	.navbar-collapse {
		background: black;
	}

	.navbar-toggle {
		margin-top: 15px;
	}

	.navbar-nav {
		padding-top: 0px;
	}
	
	.navbar-nav li {
		padding: 10px;
	}

	.hero {
		font-size: 55px;
	}

	.sub-text {
		font-size: 18px;
	}

	.container {
		width: 90vw;
	}
}

@media screen and (max-width: 576px) {
	.hero {
		font-size: 50px;
	}

	.sub-text {
		font-size: 16px;
	}
}